SYSTEM.DIALOG.ACTIVEPAGENUM=0;
SYSTEM.DIALOG.CLOSEPROMPT=1;
SYSTEM.DIALOG.SAVEONCLOSE=0;
SYSTEM.EXCEL.OPENASEXCEL=1;
SYSTEM.EXCEL.OPENASPROMPT=1;
SYSTEM.EXCEL.DLGPLOT=0;
SYSTEM.EXCEL.PLOTMULTI=0;
SYSTEM.EXCEL.LEGENDTXTSEL=0;
SYSTEM.EXCEL.SAVEASEXCEL=0;
SYSTEM.EXCEL.CLOSEAFTERPLOT=0;
SYSTEM.EXCEL.DRAGDROPPLOT=4;
SYSTEM.OPERATIONS.USESPACER=1;
SYSTEM.OPERATIONS.INPLACE=0;
SYSTEM.AXIS.COLOR=0;
SYSTEM.AXIS.OLDDIALOG=0;
SYSTEM.AXIS.WIDTH=1.5;
SYSTEM.AXIS.USEUPDATEDLG=1;
SYSTEM.COPYPAGE.CLIPBORDERW=5;
SYSTEM.COPYPAGE.CLOSENESS=2;
SYSTEM.COPYPAGE.PREVIEW=1;
SYSTEM.COPYPAGE.RATIO=40;
SYSTEM.COPYPAGE.REDRAW=1;
SYSTEM.COPYPAGE.ADVANCED=1;
SYSTEM.COPYPAGE.ADVKEEPSIZE=0;
SYSTEM.COPYPAGE.ADVRES=300;
SYSTEM.DASH.DEFINE1$=5;
SYSTEM.DASH.DEFINE2$=20 22;
SYSTEM.DASH.DEFINE3$=5 20;
SYSTEM.DASH.DEFINE4$=24 12 5 12;
SYSTEM.DASH.DEFINE5$=18 12 5 12 5 12;
SYSTEM.DASH.DEFINE6$=9 10;
SYSTEM.DASH.DEFINE7$=3 6;
SYSTEM.DASH.DEFINE8$=15 8 3 8;
SYSTEM.DASH.HATCHGAP=20;
SYSTEM.DASH.HATCHWIDTH=0;
SYSTEM.DASH.SCALEBYWIDTH=1;
SYSTEM.DASH.SOFTINPGVIEW=0;
SYSTEM.DATE.CUSTOMFORMAT1$=M'-'d'-'yyyy;
SYSTEM.DATE.CUSTOMFORMAT2$=hh':'mm':'ss'.'####;
SYSTEM.DISPLAY.BALLOONHELP=1;
SYSTEM.DISPLAY.NOWINUPDATE=70;
SYSTEM.DISPLAY.PASTEMETA=1;
SYSTEM.DISPLAY.SELBLINK=1;
SYSTEM.DISPLAY.WKSGRIDNOSHOW=0;
SYSTEM.DISPLAY.DISPLAYBITMAP=1;
SYSTEM.DISPLAY.UseLongNames=1;
SYSTEM.DISPLAY.AutoUpdatePageName=0;
SYSTEM.DISPLAY.AutoUpdateColumnName=0;
SYSTEM.DISPLAY.AutoUpdateOLELinks=1;
SYSTEM.FONT.DEFAULT$=Arial;
SYSTEM.FONT.GREEKNAME$=Symbol;
SYSTEM.FONT.HORZEDIT=1;
SYSTEM.FONT.LABELCOLOR=0;
SYSTEM.FONT.LABELNAME$=Cambria;
SYSTEM.FONT.LABELSIZE=22;
SYSTEM.FONT.LINESPACE=10;
SYSTEM.FONT.NOIPEDIT=0;
SYSTEM.FONT.PAGEVIEWACCURATE=1;
SYSTEM.FONT.SIMPLESELECT=0;
SYSTEM.FONT.SUBOFFSET=50;
SYSTEM.FONT.SUBSIZE=60;
SYSTEM.FONT.SUPOFFSET=30;
SYSTEM.FONT.TABSIZE=15;
SYSTEM.GRAPH.BARSHOWZERO=0;
SYSTEM.GRAPH.BISECTIONPTS=500;
SYSTEM.GRAPH.CLOSELAYPRT=1;
SYSTEM.GRAPH.CLOSEPROMPT=1;
SYSTEM.GRAPH.DEFTEMPLATE$=ORIGIN;
SYSTEM.GRAPH.DISPLAYCHAR=0;
SYSTEM.GRAPH.FILLCOLOR=17;
SYSTEM.GRAPH.LOG1ISFLOOR=0;
SYSTEM.GRAPH.PERCINTERP=1;
SYSTEM.GRAPH.DEFPLOTXY$=XY1;
SYSTEM.GRAPH.SPEEDMODESHOWWATERMARK=1;
SYSTEM.GRID.MAJORCOLOR=0;
SYSTEM.GRID.MAJORTYPE=0;
SYSTEM.GRID.MAJORWIDTH=0.5;
SYSTEM.GRID.MINORCOLOR=0;
SYSTEM.GRID.MINORTYPE=2;
SYSTEM.GRID.MINORWIDTH=0.3;
SYSTEM.MATH.ANGULARUNITS=0;
SYSTEM.MATRIX.DEFTEMPLATE$=ORIGIN;
SYSTEM.NOTES.CLOSEPROMPT=1;
SYSTEM.NOTES.SIZECOLS=75;
SYSTEM.NOTES.SIZEROWS=15;
SYSTEM.DIALOGPAGES.CLOSEPROMPT=1;
SYSTEM.NUMERIC.NUMDECDIGITS=5;
SYSTEM.NUMERIC.NUMSIGDIGITS=6;
SYSTEM.NUMERIC.USESIGDIGITS=0;
SYSTEM.NUMERIC.SEPARATORS=0;
SYSTEM.NUMERIC.SIGDIGITSL=-3;
SYSTEM.NUMERIC.SIGDIGITSU=6;
SYSTEM.NUMERIC.ImportSeparator=0;
SYSTEM.PAGE.AXISSPACING=20;
SYSTEM.PAGE.OBJSPACING=20;
SYSTEM.PATH.ASCII$=C:\Program Files (x86)\OriginLab\Origin85\Samples\;
SYSTEM.PATH.EXCEL$=E:\Project Papers\Extras\Origin8.5\Graphs\raw sheets\;
SYSTEM.PATH.ORIGIN$=E:\Project Papers\Extras\Origin8.5\;
SYSTEM.PATH.TEMPLATE$=E:\Project Papers\Extras\Origin8.5\;
SYSTEM.PATH.SAVEPATH=0;
SYSTEM.PRINT.LANDSCAPE=2;
SYSTEM.PRINT.FONTBASELINE=1;
SYSTEM.PRINT.PRINTCONTROL=0;
SYSTEM.PRINT.XSCALEFACTOR=1000;
SYSTEM.PRINT.YSCALEFACTOR=1000;
SYSTEM.PRINT.KEEPDEVCOLOR=0;
SYSTEM.PRINT.SIMPDEVCOLOR=0;
SYSTEM.PRINT.SKIPPLOTPOINT=0;
SYSTEM.PRINT.MAXPLOTPOINTS=300;
SYSTEM.PRINT.MATRIXDATASKIP=0;
SYSTEM.PRINT.MATRIXDATAMAXX=32;
SYSTEM.PRINT.MATRIXDATAMAXY=32;
SYSTEM.PROJECT.BACKUP=1;
SYSTEM.PROJECT.STARTUP=1;
SYSTEM.PROJECT.OpenInFolder=1;
SYSTEM.PROJECT.ICONIZEDASHIDDEN=2;
SYSTEM.PROJECT.SHOWINDATALIST=0;
SYSTEM.PROJECT.SHOWINNLSFDATALIST=0;
SYSTEM.PROJECT.VIEWWINDOWS=1;
SYSTEM.PROJECT.AUTOSAVEON=1;
SYSTEM.PROJECT.AUTOSAVETIME=12;
SYSTEM.PROJECT.NOASKAUTOSAVE=0;
SYSTEM.PROJECT.NOAUTOSAVEWITHSIZE=0;
SYSTEM.SCRIPT.CLOSEPROMPT=0;
SYSTEM.SYMBOL.BORDERWIDTH=15;
SYSTEM.SYMBOL.LINEGAP=30;
SYSTEM.TICK.GAPAXTITLE=100;
SYSTEM.TICK.GAPINSIDE=110;
SYSTEM.TICK.GAPOUTSIDE=70;
SYSTEM.TICK.LABELCOLOR=0;
SYSTEM.TICK.LOG1AS10E=1;
SYSTEM.TICK.MAXNUMERIC=20;
SYSTEM.TICK.MAXT=120;
SYSTEM.TICK.MINORLEN=50;
SYSTEM.TICK.MINMAJOR=6.5;
SYSTEM.WKS.AUTODELCOL=1;
SYSTEM.WKS.CLOSEPROMPT=1;
SYSTEM.WKS.CLOSEMATPRT=1;
SYSTEM.WKS.CLOSEEXLPRT=1;
SYSTEM.WKS.DEFTEMPLATE$=ORIGIN;
SYSTEM.WKS.IMPTEMPLATE$=ORIGIN;
SYSTEM.WKS.NUMERICDATA=0;
SYSTEM.WKS.TRANSPDELEMPTYCOLS=1;
